<!DOCTYPE html>
<html ms-controller="adminIndex">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv = "X-UA-Compatible" content = "IE=EmulateIE7" >
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width,height=device-height">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <?import namespace="v" implementation="#default#VML" ?>
    <title>后台管理页面</title>
    <style> v\:rect,v\:rect,v\:imagedata { display:inline-block } </style>
    <link href="/lib/bootstrap-3.3.6/css/bootstrap.css" rel="stylesheet">
    <link href="/lib/bootstrap-select-1.9.3/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/static/styles/dashboard.css" rel="stylesheet">
    <!--<script src="../lib/jquery-1.9.1.js"></script>-->
    <!--<script src="../lib/avalon.oniui-master/avalon.js"></script>-->
    <!--[if lte IE 8]><!--<script type="text/javascript" src="../lib/excanvas.js"></script>--><![endif]-->
    <!--requirejs-->
    <!--<script src="../lib/avalon.oniui-master/require.js"></script>-->
    <!--<script src="../lib/html5shiv.min.js"></script>-->
    <!--<script src="../lib/respond.min.js"></script>-->
    <!--<script type="text/javascript" src="../lib/echarts.js"></script>-->
    <!--<script src="../lib/fetch-polyfill2/dist/index.js"></script>-->
    <!--使用requirejs，给avalonvm使用，引入mmstate,注意这里的require和node自带的是不一样的-->



    <!--<script src="/static/scripts/admin.js"></script>-->
    <script src="../lib/avalon.oniui-master/require.js" data-main="../static/scripts/adminbuild"></script>
    <link rel="stylesheet" href="/static/styles/adminStyle.css">
</head>

<body>
    <!-- 这里设置路由入口ms-view，然后在avalonRouter.js里面设置详细路由 -->
    <div ms-view></div>
</div>
</body>
</html>
