<h1>图表展示</h1>
<div class="col-md-12"  ms-controller="echart">
    <div class="date">
        <lable>选择时间区间:</lable>
        <input id="starttime" ms-widget="datepicker" ms-duplex="formData.startTime"/>
        <span>至</span>
        <input id="endtime" ms-duplex="formData.endTime"  ms-widget="datepicker" />
        <button type="button" class="btn btn-primary" ms-click = "getEchartsData">确定</button>
    </div>
    <div class="" style="display: inline-block">
        <div class="myecharts" id="main" style="width: 600px;height:400px;"></div>
    </div>
    <div id="" class="" style=" display: inline-block">
        <div id="pie"  style="width: 600px;height:400px;"></div>
    </div>
</div>
