<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/lib/bootstrap-3.3.6/css/bootstrap.css" />
    <!-- 引入自定义样式 -->
    <link rel="stylesheet" href="/static/styles/main.css">
    <!-- 引入库文件 -->
    <script src="/lib/avalon.oniui-master/require.js" data-main="../static/scripts/index.js"></script>
    <!--<script src="/lib/jquery-1.9.1.js"></script>-->
    <!--<script src="/lib/bootstrap-3.3.6/js/bootstrap.js"></script>-->
    <!--&lt;!&ndash;引入avalonjs&ndash;&gt;-->
    <!--<script src="../lib/avalon.oniui-master/avalon.js"></script>-->
    <!--&lt;!&ndash;使用requirejs，给avalonvm使用，引入mmstate,注意这里的require和node自带的是不一样的&ndash;&gt;-->
    <!--<srcipt src="/lib/avalon.oniui-master/require.js"></srcipt>-->
    <!--&lt;!&ndash; 引入app.js和一些文件 &ndash;&gt;-->
    <!--&lt;!&ndash;<script src="/static/scripts/avalonVm.js" ></script>&ndash;&gt;-->
    <!--<script src="/static/scripts/controllers/login.js"></script>-->
    <title>管理界面起始页</title>
</head>
<body ms-controller="dailManage">
    <!--设置avalon路由入口-->
    <div ms-view></div>
</body>
</html>